/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------- */

body {
  background-color: aliceblue;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: aliceblue;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}

header {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

h1 {
  font-size: 2rem;
}

form {
  justify-content: center !important;
}

select {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 2rem 0;
  margin-bottom: 4rem;
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.news {
  gap: 1rem;
}

article {
  justify-content: space-evenly;
  flex: 0 0 49%;
}

article img {
  width: 40%;
  object-fit: cover;
  align-self: stretch;
}

article a {
  font-size: 1.2rem;
  background-color: rgb(17, 0, 255);
  padding: 0.4rem 1rem;
  border-radius: 14px;
  color: white;
  margin-bottom: 0.5rem;
  display: inline-block;
}

article .content {
  flex: 0 1 58%;
}

article .content button {
  display: inline-block;
  margin-top: 1rem;
  background-color: black;
  color: white;
  padding: 0.4rem 1.2rem;
  border-radius: 6px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .news article {
    flex: 0 1 100%;
  }
  .container {
    max-width: 650px;
  }
}
